.about-me {
  h1 {
    text-align: center;
    font-size: 3.5em;
    margin: 0 0 0.2em 0;
  }

  h2 {
    text-align: center;
    font-size: 2em;
    margin-top: 0em;
  }

  .image-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
      border-radius: 100%;
      width: 30%;
      height: auto;
    }
  }

  .wrapper {
    flex-direction: column;
    align-items: center;
    margin: 0 auto;

    .blurb {
      width: 50%;
    }
  }
}
