@import url("https://use.typekit.net/kvc0tbm.css");

/* Coolors Exported Palette - coolors.co/f2e4d2-a9c19d-1c0135-ffcc33-ed5656 */
/* HSL 
$color1: hsla(34%, 55%, 89%, 1);
$color2: hsla(100%, 23%, 69%, 1);
$color3: hsla(271%, 96%, 11%, 1);
$color4: hsla(45%, 100%, 60%, 1);
$color5: hsla(0%, 81%, 63%, 1);
/* RGB 
$color1: rgba(242, 228, 210, 1);
$color2: rgba(169, 193, 157, 1);
$color3: rgba(28, 1, 53, 1);
$color4: rgba(255, 204, 51, 1);
$color5: rgba(237, 86, 86, 1);*/

/*rgba(242, 228, 210, 1)*/

:root {
  --sand:  rgb(251, 244, 235);
  --green: rgba(169, 193, 157, 1);
  --purple: rgba(28, 1, 53, 1);
  --yellow: rgba(255, 204, 51, 1);
  --coral: rgba(237, 86, 86, 1);
}

body {
  background-color: var(--sand);
  font-family: "Source Sans Pro", sans-serif;
  box-sizing: border-box;
  max-width: 100vw;
  color: var(--purple);
  font-size: 100%;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
  font-family: "Noto Sans", sans-serif;
}

.content {
  flex-grow: 1;
  padding: 7em 2em 2em 2em;
  margin: 0 auto;
  max-width: 80%;
  min-width: 50%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "futura-pt", sans-serif;
}

p {
  font-size: 1.125em;
}

a {
  color: var(--purple);
}

a:hover{
  color: var(--coral);
  transition: 0.4s ease;
  -webkit-transition: 0.4s ease;
}

.footertext {
  font-size: 1em;
  padding-top: 1em;
}

.socialicons {
  display: flex;
 justify-content: space-between;
 width: 50%;
 margin: 0 auto;
}

.socialicons a {
  color: var(--coral); 
}
.socialicons a:hover {
  color: var(--purple)
}


@media only screen and (min-width: 1000px) {
  .content {
    padding: 2em 3em 2em 3em;
    max-width: 50%;
  }
}
