.blog {
  // h2 {
  //   font-family: "Poppins";
  //   font-weight: 900;
  //   font-size: 72px;
  //   background: -webkit-linear-gradient(45deg, $blue, $purple);
  //   -webkit-background-clip: text;
  //   -webkit-text-fill-color: transparent;
  // }

  ul {
    list-style: none;
  }

  .post {
    &.card {
      display: block;
      margin-top: 2em;
      padding: 1.5em;
      border-radius: 8px;
      box-shadow: 2px 2px 5px 0px grey;
      text-decoration: none;
      color: #303030;

      .title {
        color: $blue;
      }

      &:hover {
        box-shadow: 3px 3px 10px 0px grey;
      }

      .updated-at {
        font-size: 0.8em;
      }
    }
  }
}

.blog-post {
  .toc {
    ul {
      list-style: none;

      li {
        margin-top: 1em;
      }
    }
  }

  h1 {
    font-size: 3em;
    font-family: 'Poppins';
    font-weight: 900;
    background: -webkit-linear-gradient(45deg, $blue, $purple);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  h3 {
    font-family: 'Poppins';
    font-size: 1.5em;
  }

  p {
    line-height: 1.5em;

    code {
      background-color: $sand;
      padding: 2px 8px;
      border-radius: 4px;
      color: #303030;
    }
  }
}
