$sand: rgb(251, 244, 235);
$green: rgba(169, 193, 157, 1);
$purple: rgba(28, 1, 53, 1);
$lightPurple: rgb(132, 104, 158);
$midPurple: #6c4790;
$yellow: rgba(255, 204, 51, 1);
$coral: rgba(237, 86, 86, 1);
$grey: #121212;
$blue: #0172a2;
